doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="renderer" content="webkit")
        meta(http-equiv="Cache-Control" content="no-siteapp")
        link(rel="stylesheet" href="/static/css/style.css")
        script(src="//at.alicdn.com/t/font_581590_yvyo18t93qjv2t9.js")
    body
        div.h1-container.clearfix
      
            div.h1-center-help
                h1 Todo-List
        div#module-box.clearfix
        script(src="/static/javascript/common/index.js")
        script(src="/static/javascript/nej/define.js?pro=/static/javascript/")
        script(src="/static/javascript/page/index.js")
